@model IEnumerable<AspImpactaBiblioteca.Models.Entities.Autor>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <title>Lista de Autores</title>

    </head>

    <body>

        <p>@Html.ActionLink("Novo", "Create", "Autor", new { @class = "waves-effect waves-light btn" })</p>

        @using (Html.BeginForm(null, null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <table id="__AjaxAntiForgeryForm" class="responsive-table table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(a => a.Id)</th>
                        <th>@Html.DisplayNameFor(a => a.Nome)</th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {

                    <tbody>
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Nome</td>

                            <td>
                                <a href="@Url.Action("Edit", "Autor", new { id = item.Id })" class="btn-floating btn-small waves-effect waves-light yellow icones tooltipped" data-position="top" data-delay="40" data-tooltip="EDITAR"><i class="material-icons">edit</i></a>
                                <a href="#modalExcluirAutor" class="excluirAutor btn-floating btn-small waves-effect waves-light red icones modal-trigger" data-id="@item.Id"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>

                }

            </table>


        }

        <div id="modalExcluirAutor" class="modal">
            <div class="modal-content">
                <h4>Excluir este Autor?</h4>
                <p>Ao remover este item, você não poderá recuperá-lo.</p>
            </div>

            <div class="modal-footer">

                @Html.AntiForgeryToken()
                <button type="button" href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</button>
                <button id="btnConfirmarExclusaoAutor" type="button" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar</button>

            </div>
        </div>

    </body>

</html>

